# Laboratorio 0 por Francisco Rodríguez

In [536]:
import funciones as fn                              # Para procesamiento de datos
import visualizaciones as vs                        # Para visualizacion de datos
import pandas as pd                                 # Procesamiento de datos
from datos import OA_Ak                             # Importar token para API de OANDA
import numpy as np

In [537]:
# token de OANDA
OA_In = "EUR_USD"                  # Instrumento
OA_Gn = "D"                        # Granularidad de velas
fini = pd.to_datetime("2019-07-06 00:00:00").tz_localize('GMT')  # Fecha inicial
ffin = pd.to_datetime("2019-12-06 00:00:00").tz_localize('GMT')  # Fecha final

# Descargar precios masivos
df_pe = fn.f_precios_masivos(p0_fini=fini, p1_ffin=ffin, p2_gran=OA_Gn,
                             p3_inst=OA_In, p4_oatk=OA_Ak, p5_ginc=4900)

In [463]:
# -- --------------------------------------------------------------- Graficar OHLC plotly -- #

vs_grafica1 = vs.g_velas(p0_de=df_pe.iloc[0:120, :])
vs_grafica1.show()

In [538]:
# multiplicador de precios

pip_mult = 10000



# -- 0A.1: Hora

df_pe['hora'] = [df_pe['TimeStamp'][i].hour for i in range(0, len(df_pe['TimeStamp']))]



# -- 0A.2: Dia de la semana.

df_pe['dia'] = [df_pe['TimeStamp'][i].weekday() for i in range(0, len(df_pe['TimeStamp']))]

## Mes en el que ocurrió la vela.

In [539]:
#---0A.3: Mes 
df_pe['mes'] = [df_pe['TimeStamp'][i].month for i in range(0, len(df_pe['TimeStamp']))]

## Sesión de la vela

Función para establecer la sesión bursatil en la que occurio la vela siguiendo las siguientes especificaciones: 

+ Asia:  si en la columna ['hora'] tiene alguno de estos valores -> 22, 23, 0, 1, 2, 3, 4, 5, 6, 7
+ Asia_Europa: si en la columna ['hora'] tiene alguno de estos valores -> 8
+ Europa: si en la columna ['hora'] tiene alguno de estos valores -> 9, 10, 11, 12
+ Europa_America: si en la columna ['hora'] tiene alguno de estos valores -> 13, 14, 15, 16
+ America': si en la columna ['hora'] tiene alguno de estos valores -> 17, 18, 19, 20, 21

In [540]:
america = [17, 18, 19, 20, 21]
asia = [22, 23, 0, 1, 2, 3, 4, 5, 6, 7]
europa = [ 9, 10, 11, 12]
eurpa_america =[13, 14, 15, 16]

def sesion(hora):
    if hora in asia: 
        x = 'Asia'
    elif hora in america:
        x = 'America'
    elif hora in europa:
        x = 'Europa'
    elif hora in eurpa_america:
        x = 'Europa_America'
    else:
        x = 'europa_asia'
    return x

In [541]:
df_pe['Sesion'] = [sesion(int(df_pe['hora'][i])) for i in range(0, len(df_pe['hora']))]

In [542]:
df_pe['Sesion']

0      America
1      America
2      America
3      America
4      America
5      America
6      America
7      America
8      America
9      America
10     America
11     America
12     America
13     America
14     America
15     America
16     America
17     America
18     America
19     America
20     America
21     America
22     America
23     America
24     America
25     America
26     America
27     America
28     America
29     America
        ...
101    America
102    America
103    America
104    America
105    America
106    America
107    America
108    America
109    America
110    America
111    America
112    America
113    America
114    America
115    America
116    America
117    America
118    America
119    America
120    America
121    America
122    America
123    America
124    America
125    America
126    America
127    America
128    America
129    America
130    America
Name: Sesion, Length: 131, dtype: object

In [543]:
df_pe.head()

,TimeStamp,Open,High,Low,Close,hora,dia,mes,Sesion
0,2019-07-05 20:00:00,1.12264,1.12278,1.12247,1.12255,20,4,7,America
1,2019-07-07 20:00:00,1.12248,1.12344,1.12071,1.12093,20,6,7,America
2,2019-07-08 20:00:00,1.12095,1.12188,1.11935,1.12066,20,0,7,America
3,2019-07-09 20:00:00,1.12070,1.12643,1.12020,1.12536,20,1,7,America
4,2019-07-10 20:00:00,1.12533,1.12858,1.12454,1.12570,20,2,7,America

## Amplitud de vela (en pips)

Creando un DataFrame para los precios de Close y Open para poder realizar la diferencia entre estos y multiplicarlo por 10,000 unidades para expresarla en pips

In [547]:
Close = pd.DataFrame(float(i) for i in df_pe['Close'])

Open = pd.DataFrame(float(i) for i in df_pe['Open'])

In [548]:
DifOyC = (Close - Open)*10000
DifOyC

        0
0    -0.9
1   -15.5
2    -2.9
3    46.6
4     3.7
5    14.4
6    -0.9
7   -13.5
8   -48.0
9    16.2
10   51.0
11  -56.6
12    1.4
13   -6.3
14  -62.0
15  -11.9
16    7.8
17  -20.2
18    3.4
19   22.2
20   10.8
21  -88.2
22   22.9
23   17.2
24   -1.2
25   92.3
26    1.3
27    6.0
28  -16.0
29   15.4
..    ...
101  16.5
102  -3.7
103 -40.9
104 -59.4
105  -2.6
106 -23.1
107 -24.8
108  -2.2
109   8.0
110 -22.1
111  -2.4
112  12.9
113  34.2
114  -3.2
115  23.1
116   2.6
117  -4.0
118 -16.2
119 -34.6
120  -3.1
121  -7.0
122  13.4
123 -22.8
124   7.8
125   8.1
126   2.2
127  60.8
128  -4.0
129  -1.5
130  23.8

[131 rows x 1 columns]

## Amplitud de extremos (en pips).

Creando un DataFrame para los precios de High y Low para poder realizar la diferencia entre estos y multiplicarlo por 10,000 unidades para expresarla en pips

In [555]:
High = pd.DataFrame(float(i) for i in df_pe['High'])

Low = pd.DataFrame(float(i) for i in df_pe['Low'])

In [556]:
DifHyL = (High - Low)*10000
DifHyL

         0
0      3.1
1     27.3
2     25.3
3     62.3
4     40.4
5     36.8
6      4.3
7     30.7
8     61.5
9     33.8
10    75.2
11    78.5
12     8.5
13    19.1
14    64.1
15    28.8
16    86.3
17    39.2
18     8.3
19    37.8
20    29.1
21    97.6
22    68.8
23    46.6
24     5.8
25   108.7
26    82.0
27    62.3
28    50.0
29    45.8
..     ...
101   43.6
102    8.3
103   50.8
104   76.6
105   27.7
106   55.7
107   38.7
108    3.6
109   26.6
110   36.0
111   24.8
112   38.6
113   42.2
114    3.8
115   39.8
116   21.3
117   28.1
118   44.8
119   73.0
120    4.7
121   28.6
122   17.6
123   33.2
124   19.8
125   47.2
126    6.3
127   86.7
128   27.6
129   49.5
130   32.4

[131 rows x 1 columns]

## Sentido de la vela

En este paso se le asigna  el valor de 'alcista' para cuando ['Close'] >= ['Open'] y 'bajista' en el caso contrario.

In [559]:
sentido = (lambda Open, Close: 'ALCISTA' if Close >= Open else 'BAJISTA')

df_pe['Sentido'] = pd.DataFrame(sentido(df_pe['Open'][i], df_pe['Close'][i]) for i in range(len(df_pe['Open'])))

In [560]:
df_pe ['Sentido']

0      BAJISTA
1      BAJISTA
2      BAJISTA
3      ALCISTA
4      ALCISTA
5      ALCISTA
6      BAJISTA
7      BAJISTA
8      BAJISTA
9      ALCISTA
10     ALCISTA
11     BAJISTA
12     ALCISTA
13     BAJISTA
14     BAJISTA
15     BAJISTA
16     ALCISTA
17     BAJISTA
18     ALCISTA
19     ALCISTA
20     ALCISTA
21     BAJISTA
22     ALCISTA
23     ALCISTA
24     BAJISTA
25     ALCISTA
26     ALCISTA
27     ALCISTA
28     BAJISTA
29     ALCISTA
        ...
101    ALCISTA
102    BAJISTA
103    BAJISTA
104    BAJISTA
105    BAJISTA
106    BAJISTA
107    BAJISTA
108    BAJISTA
109    ALCISTA
110    BAJISTA
111    BAJISTA
112    ALCISTA
113    ALCISTA
114    BAJISTA
115    ALCISTA
116    ALCISTA
117    BAJISTA
118    BAJISTA
119    BAJISTA
120    BAJISTA
121    BAJISTA
122    ALCISTA
123    BAJISTA
124    ALCISTA
125    ALCISTA
126    ALCISTA
127    ALCISTA
128    BAJISTA
129    BAJISTA
130    ALCISTA
Name: Sentido, Length: 131, dtype: object